.board {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  .kanban-col {
    // padding: 0.1rem 3rem;
    height: 500px !important;
    width: 30% !important;
    -webkit-box-shadow: 0px 0px 24px -4px rgba(170, 170, 170, 1);
    -moz-box-shadow: 0px 0px 24px -4px rgba(170, 170, 170, 1);
    box-shadow: 0px 0px 24px -4px rgba(170, 170, 170, 1);
    border-radius: 5px;
    .drop-col {
      min-height: 440px;
      overflow-y: scroll;
    }
    .title {
      position: sticky !important;
      top: 0;
      width: 100%;
      font-family: "Raleway", sans-serif;
      font-size: 24px;
      padding: 0.5rem 2rem;
      color: #333;
    }
    .kanban-card {
      -webkit-box-shadow: 0px 0px 8px -2px rgba(153, 153, 153, 1);
      -moz-box-shadow: 0px 0px 8px -2px rgba(153, 153, 153, 1);
      box-shadow: 0px 0px 8px -2px rgba(153, 153, 153, 1);
      border-radius: 5px;
      margin: 15px 15px;
      padding: 10px;
      text-align: left;
      .card-title {
        font-size: 18px;
        font-weight: 500;
        color: #555;
        text-align: left;
        font-family: 'Raleway', sans-serif;
      }
      .card-desc {
        font-size: 14px;
        text-align: left;
        margin-bottom: 5px;
      }
      .card-row {
        display: flex;
        justify-content: space-between;
        .card-labels {

        }
        .card-delete {
          min-width: 10px;
        }
      }
    }
    .new {
      background-color: #ffffb8;
      color: #876800;
    }
    .inprogress {
      background-color: #e6f7ff;
      color: #003a8c;
    }
    .completed {
      background-color: #eaff8f;
      color: #3f6600;
    }
    .child {
      cursor: grabbing;
      border: 1px dashed #f0f;
    }
  }
}
