.home {
	height: 100vh !important;
	overflow: hidden;
	.title {
		color: #eee;
		font-size: 30px;
		font-family: "Raleway", sans-serif;
		font-weight: 500;
	}
	.header-wrapper {
		background-color: #072b4c;
	}
	.header {
		display: flex;
		line-height: 64px;
		align-items: center;
		justify-content: space-between;
	}
	.site-layout {
		display: flex;
		flex-flow: column;
		height: 100%;
	}
	.react-tabs {
		flex-grow: 1;
		display: flex;
		flex-flow: column;
		height: 100%;
	}
	.tabs {
		background-color: #fff;
	}
	.react-tabs {
		margin-top: 5px;
	}
	.react-tabs__tab-list {
		margin: 0;
		border: none;
	}
	.react-tabs__tab--selected {
		border: none;
		border-radius: 10px 10px 0 0;
	}
	.react-tabs__tab {
		font-size: 20px;
		font-family: "Raleway", sans-serif;
	}
	.react-tabs__tab-panel--selected {
		background-color: #fff;
		border-radius: 10px;
		padding: 1rem;
	}
}
