.tasks {
	padding: 2rem;
	justify-content: space-between;
	// flex-grow: 1 !important;
	// display: flex;
	// flex-flow: column;
	// height: 100%;
	// height: 40vh;
	.divider {
		height: unset !important;
	}
	.filters-wrapper {
		position: relative;
		.filters {
			min-width: 300px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.search-input {
				border: none !important;
				-webkit-box-shadow: 0px 0px 8px -2px rgba(170, 170, 170, 1);
				-moz-box-shadow: 0px 0px 8px -2px rgba(170, 170, 170, 1);
				box-shadow: 0px 0px 8px -2px rgba(170, 170, 170, 1);
			}
		}
	}
	.todos {
		height: 500px;
		overflow-y: auto;
		padding: 0 10px;
		div:first-child {
			div:first-child {
				padding: 15px;
			}
		}
		.card {
			-webkit-box-shadow: 0px 0px 24px -4px rgba(221, 221, 221, 1);
			-moz-box-shadow: 0px 0px 24px -4px rgba(221, 221, 221, 1);
			box-shadow: 0px 0px 24px -4px rgba(221, 221, 221, 1);
			border-radius: 5px;
			margin-bottom: 10px;
			padding: 10px;
			cursor: pointer;
			.card-title {
				font-size: 24px;
				text-align: left;
				font-weight: 500;
				font-family: "Raleway", sans-serif;
				margin: 0;
			}
			.card-desc {
				text-align: left;
			}
			.card-row {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 !important;
			}
			.card-badge {
				width: 30%;
				padding: 0 !important;
				.ant-tag {
					margin-left: 4px;
					margin-bottom: 4px;
					float: right;
					padding: 0 5px !important;
				}
			}
		}
	}
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #888;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
